/*タブの切り替えに関するスタイル*/
.tab {
    display: flex;
    flex-wrap: wrap;
    max-width: 360px;
}

.tab > label {
    flex: 1 1;
    order: -1;
    min-width: 10px;
    padding: .7em 1em .5em;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 0;
    background-color: #e9f0f6;
    color: #535353;
    font-size: .9em;
    text-align: center;
    cursor: pointer;
}

.tab > label:hover {
    opacity: .8;
}

.tab .hide-radiobtn{
    display: none;
}

.tab > div {
    display: none;
    width: 100%;
    padding: 0em 0em;
    background-color: #fff;
}

.tab label:has(:checked) {
    background-color: #fff;
    border-color: #2589d0 #f0f0f0 #fff;
    border-style: solid;
    border-width: 4px 1px 1px;
    border-radius: 5px;
    color: #333333;
}

.tab label:has(:checked) + div {
    display: block;
}

.tab .search-inputbox {
    width: 70%;
    padding: 8px 10px;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    background: #f7f7f7;
    color: #333;
    font-size: 1em;
    line-height: 1.5;
}

.tab .search-inputbox::placeholder {
    color: #999;
}

.tab .search-button {

    justify-content: center;
    align-items: center;
    width: 80px;
    margin:0 auto;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    background-color: #7077aa;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
}

.tab .search-button:hover {
    background-color: #60679a;
}

/*検索結果の要素のスタイル*/
.search-item  img{
    width: 120px;
}

.search-item > label.search-item-music{
    position:relative;
    display:flex;
    align-items:center;
    float:left;
    width: 350px;
    min-height: 78px;
    border: thick double #555555;
}
.search-item:hover > label.search-item-music{
    cursor:pointer;
    background-color: #AAAAFF;
}

.search-item-music input + img{
    margin-left: 5px;
    margin-right: 10px;
}

.search-item-menu{
    position: absolute;
    top: 25%;
    left: 50px;
    opacity:1;
}

.search-item:has(.music-radio:checked) .search-item-music > :not(.search-item-menu) {
    opacity: 0.1;
    cursor: auto;
}

.search-item .search-item-quit{
    justify-content: center;
    align-items: center;
    margin-left:20px;
    padding: 4px 10px;
    border: none;
    border-radius: 5px;
    background-color: #FF0000;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    position: absolute;
    top: -50%;
    left: -65px;
}
.search-item .menu-radio{
    display: none;
}
.search-item .music-radio{
    display: none;
}
.search-item:not(:has(input.music-radio:checked)) input.menu-radio {
    pointer-events: none;
}
.search-item:not(:has(input.music-radio:checked)) .search-item-menu {
    display: none;
}

.search-item .music-button {

    justify-content: center;
    align-items: center;
    margin-left:20px;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    background-color: #FF7077;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
}

.search-item .music-button:hover {
    background-color: #FFAA67;
    cursor: pointer;
}
.search-item .search-item-quit:hover {
    background-color: #FF6666;
    cursor: pointer;
}